<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <!-- left div -->
        <div class="col-md-6 col-12 main_header_right">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class=" w-100" src="images/error.webp" alt="First slide">
              </div>
              
            </div>
            
          </div>
            
        </div>
        <div class="col-md-6 col-12 main_header_left">
          
          <h1>Oops!! Page Not Found</h1>
          <a href="/"><button>Go Back</button></a>
        </div>
        <!-- right div -->
        
        


      </div>
    </div>

  </div>
</div>
{{>footer}}
</body>
</html>